/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 * {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
 }

 a, p {
   text-decoration: none !important;
 }

 a, button, i, input, span {
   -webkit-transition: 0.2s ease-out !important;
   -moz-transition: 0.2s ease-out !important;
   -o-transition: 0.2s ease-out !important;
   transition: 0.2s ease-out !important;
 }

 ul {
   list-style: none !important;
 }

 div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6,
 ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label,
 select, input, textarea {
   padding: 0;
   margin: 0;
   line-height: 1em;
 }

 body {
   padding: 0;
   margin: 0;
 }
 .container {
   width: 1000px;
   margin: 0 auto;
 }
 
//***Tamagochi***//

.tamagochi {
  overflow: hidden;
  height: 100vh;
  background: #843534;
  h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px 0 40px;
  }
  .tamagochi-pet {
    background: currentColor;
    padding: 25px;
    border-radius: 20%;
    border: 1px solid #843534;
    #CounterTime {
      p {
        text-align: center;
        font-size: 30px;
        color: #fff;
      }
    }
    .stats {
      margin-bottom: 40px;

      li {
        display: flex;
        align-items: center;
        h3 {
          color: #fff;
        }
        .pet-interest__food {
          background: #d58512;
          width: 100%;
          height: 30px;
          padding: 3px;
        }
        .pet-interest__clean {
          background: #5bc0de;
          width: 100%;
          height: 30px;
          padding: 3px;
        }
        .pet-interest__happiness {
          background: #4cae4c;
          width: 100%;
          height: 30px;
          padding: 3px;
        }
        h3 {
          font-size: 20px;
          font-weight: bold;
        }
        .food-pet, .clean-pet, .happiness-pet {
          display: block;
          font-size: 20px;
          font-weight: bold;
          margin: 10px 5px 10px 0;
        }
        .food-pet {
          color: #d58512;
        }
        .clean-pet {
          color: #5bc0de;
        }
        .happiness-pet {
          color: #4cae4c;
        }
        progress {
          width: 30em;

        }
      }
    }
    img {
      width: 15%;
      display: block;
      margin: 0 auto 5px;
    }
    .actions {
      display: flex;
      justify-content: center;
      li {
        margin: 0 20px;
        button {
          padding: 10px 25px;
          outline: none;
          border-radius: 10px;

        }
        .eat-pet {
          background: #d58512;
        }
        .wash-pet {
          background: #5bc0de;
        }
        .run-pet {
          background: #4cae4c;
        }
      }
    }
  }
}